:root {
  --interface-back-color: #282828;
  --interface-font-color: #ffffff;
  --plan-color: #5DADE2;
  --actual-color: #F39C12;
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.tooltip {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
  background-color: var(--interface-back-color);
  color: var(--interface-font-color);
  z-index: 1;
  position: absolute;
  border-radius: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  pointer-events: none;
}

.tooltip table {
  border-spacing: 0;
}

.tooltip table tr td {
  text-align: center;
  padding: 0 0.5rem 0 0.5rem;
  white-space: nowrap;
}

.tooltip table tbody tr:first-child td {
  padding-top: 0.4rem;
}

.tooltip table tr td:first-child {
  text-align: left;
  padding: 0.1rem 0.5rem 0.1rem 0;
}

.tooltip .name-header {
  border-bottom: 3px var(--interface-back-color) solid;
  text-align: left;
}

.tooltip .actual-header {
  border-bottom: 3px var(--actual-color) solid;
}

.tooltip .plan-header {
  border-bottom: 3px var(--plan-color) solid;
}

.close-tooltip {
  cursor: pointer;
  pointer-events: initial;
  position: relative;
  width: 20px;
  height: 20px;
  opacity: 0.5;
  transition: opacity 0.2s;
}

.close-tooltip:hover {
  opacity: 1;
}

.close-tooltip:before, .close-tooltip:after {
  position: absolute;
  left: 9px;
  content: '';
  height: 21px;
  width: 2px;
  background-color: var(--interface-font-color);
}

.close-tooltip:before {
  transform: rotate(45deg);
}

.close-tooltip:after {
  transform: rotate(-45deg);
}

.legend {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(40, 40, 40, 0.9);
  padding: 0.6rem;
  border-radius: 0.5rem;
  color: var(--interface-font-color);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  z-index: 2;
  pointer-events: none;
}

.legend-title {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.legend-item {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 0.35rem;
}

.legend-color {
  width: 0.9rem;
  height: 0.9rem;
}

.legend-plan {
  border-radius: 0.1rem;
  background-color: var(--plan-color);
  opacity: 0.5;
}

.legend-actual {
  border-radius: 0.1rem;
  background-color: var(--actual-color);
}