:root {
  --tooltip-back-color: #282828;
  --tooltip-font-color: #ffffff;
  --tooltip-plan-color: #ff0000;
  --tooltip-actual-color: #ffff00;
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.tooltip {
  display: block;
  padding: 0.5rem;
  background-color: var(--tooltip-back-color);
  color: var(--tooltip-font-color);
  z-index: 1;
  position: absolute;
  border-radius: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  pointer-events: none;
}

.tooltip table {
  border-spacing: 0;
}

.tooltip table tr td {
  text-align: center;
  padding: 0.1rem 0.5rem 0.1rem 0.5rem;
  white-space: nowrap;
}

.tooltip table tbody tr:first-child td {
  padding-top: 0.4rem;
}

.tooltip table tr td:first-child {
  text-align: left;
  padding: 0.1rem 0.5rem 0.1rem 0;
}

.tooltip .name-header {
  border-bottom: 3px solid var(--tooltip-back-color);
  text-align: left;
}

.tooltip .actual-header {
  border-bottom: 3px var(--tooltip-actual-color) solid;
}
.tooltip .plan-header {
  border-bottom: 3px var(--tooltip-plan-color) solid;
}